<input type="hidden" name="experience_id" id="experience_id" value="" />

<% @experiences.in_groups_of(columns, false) do |experiences| %>
  <div class="row" style="margin-bottom: 20px;">
    <% experiences.each do |experience| %>

      <% if columns == 2 %>
        <div class="col-md-6">
      <% else %>
        <div class="col-md-4">
      <% end %>

        <div class="widget-item narrow-margin">
          <div style="max-height:214px" class="tiles green  overflow-hidden full-height">

            <!--TODO: Change this image to the image of the experience-->
            <!--<img class="lazy hover-effect-img image-responsive-width" alt="" src="assets/img/others/10.png"> -->
            <% experience_image = ExperienceImage.where(:experience_id => experience.id).first %>
            <% if experience_image.nil? %>

            <% else %>
              <%# image_tag experience_image.image_url.to_s, :class => "lazy hover-effect-img image-responsive-width" %>
              <%= filepicker_image_tag experience_image.image, w: 600, h: 600, fit: 'crop' %>
            <%end%>

          </div>
          <div class="tiles white ">
            <div class="tiles-body">
              <div class="row">
                <div class="user-comment-wrapper pull-left">
                  <div class="comment">
                    <div class="user-name text-black bold"> <%= link_to experience.name, experience_path(experience) %> </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="p-l-15 p-t-10 p-r-20">
                  <p><%= truncate(experience.what_does_this_include, length: 100) %></p>
                  <div class="p-t-10">
                    <button class="btn btn-cons share-button-load-modal" data-toggle="modal" data-target="#share"  data-button="<%= experience.id %>"> Share </button>
                    
                    <% edit_url = dashboard_experiences_path + '/' + experience.id.to_s + '/edit' %>
                    <%= link_to "Edit", edit_url, :class => "btn btn-success btn-cons" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- END EXPERIENCE ITEM -->
    <% end %>
  </div>
<% end %>

<!--MODAL WINDOW FOR SHARING ON SOCIAL MEDIA -- START -->
<%= render :partial => "share" %>
<!--MODAL WINDOW FOR SHARING ON SOCIAL MEDIA -- END -->



