<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% @experience.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="first-title">
    <div class="numberCircle">1</div>
    <h2>Experience name and summary</h2>
  </div>
  
  <div class="form-group">
    <%= f.label :name, "Name your experience" %>
    <%= f.text_field :name, :class => "form-control",:placeholder => "Write a short title for this experience. Should be less than 3 words", :autofocus => true, :required => "required" %>

  </div>
  <div class="form-group">
    <%= f.label :summary, "Give a short summary of your experience" %>
    <%= f.text_area :summary, :class => "form-control", :placeholder => "Catch peoples attention. Tell them about your experience in as few words as possible", :rows => 2, :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Describe your experience in detail" %>
    <%= f.text_area :description, :class => "form-control", :placeholder => "Describe this experience", :rows => 5, :required => "required" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "What is included in your experience" %>
    <%= f.text_area :what_does_this_include, :class => "form-control",:placeholder => "Tell people exactly what they will get when they attend this experience", :rows => 5 %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Specific things people should bring" %>
    <%= f.text_area :things_to_remember, :class => "form-control",:placeholder => "Should your customer bring something?", :rows => 5 %>
  </div>

  <label>Address</label>
  <div class="address">
    <div class="form-group">
      <%= f.text_field :line_one, :class => "form-control",:placeholder => "Address line one" %>
      <%= f.text_field :line_two, :class => "form-control",:placeholder => "Address line one" %>
      <%= f.text_field :land_mark, :class => "form-control",:placeholder => "City" %>
      <%= f.text_field :state, :class => "form-control",:placeholder => "State" %>
      <%= f.text_field :country, :class => "form-control",:placeholder => "Country" %>
      <%= f.text_field :pincode, :class => "form-control",:placeholder => "Pincode" %>
    </div>  
  </div>
  

  <div class="form-group">
    <%= f.label :city, "Land mark" %>
    <%= f.text_field :city, :class => "form-control", :placeholder => "Where should people come. Enter a land mark", :required => "required" %>
    <div class="map_canvas"></div>
  </div>

  <div class="form-group">
    <%= f.text_field :price, :class => "form-control", :placeholder => "How much per ticket?", :required => "required" %>
  </div>

  <div class="form-group">
    <%= f.text_field :max_seats, :class => "form-control", :placeholder => "Maximum number of people that can attend this event", :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_date %>
    <br/>
    <%= f.date_select :exp_date, :class => "form-control dropdown", :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_time %>
    <br/>
    <%= f.time_select :exp_time, :class => "form-control textLabel", :required => "required" %>
  </div>

  <div class="form-group">
    <%# f.label :exp_images, "Upload Your Avatar:" %>
    <%# f.filepicker_field :exp_images%>
  </div>


  <!--
  <div class="form-group">
    <%# f.label :image %>
    <br/>
    <%# f.file_field :image, :class => "form-control", :required => "required" %>
  </div>
  -->

  <div class="form-group">
    <%= f.label :image, "Upload header images" %>
    <br>
    <!-- Button trigger modal -->
<button class="button" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

  </div>
  <%= f.hidden_field :latitude%>>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :random_id, :value => @random_temp_experience_id %>


  <div class="actions">
    <%= f.submit :class => "button is-primary", :style => "font-weight: bold" %>
  </div>
<% end %>


