<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% @experience.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="first-title">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag "new-experience-general-info.png", :class => "img-responsive pull-left" %>
      </div>
      <div class="col-md-11">
        <h2>Experience details</h2>

        <div class="form-group">
          <%= f.label :name, "Name your experience" %>
          <%= f.text_field :name, :class => "form-control", :autofocus => true, :required => "required" %>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>Upload Image</label>
            <div class="image-upload">
              <a href="#" class="button is-secondary" style="color: white">Browse Images</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">


                <%= f.label :price, "Price per ticket" %>
                <div class="input-group">
                  <!-- Todo: This needs to be changed to reflect the symbol for each users currency -->
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :price, :class => "form-control", :required => "required" %>        
                </div>

              </div>
              <div class="col-md-6">
                <%= f.label :max_seats, "Total number of tickets" %>
                <%= f.text_field :max_seats, :class => "form-control", :required => "required" %>
              </div>
            </div>


                <%# f.label :exp_date %>
                <!--
                <label>Experience schedule</label>
                <input type="text">
              -->
                <%# f.date_select :exp_date, :class => "form-control dropdown", :required => "required" %>  
          </div>
        </div>
            
        <div class="experienceSchedule">
          <div class="row">
            <div class="col-md-6">
              <label>Experience schedule</label>
              <div id="schedule_calendar"></div>
            </div>

            <div class="col-md-6">
              <label>Experience Days</label>
              
            </div>
          </div>
        </div>


        

      </div>
    </div>
    
  </div>
  


  

  
  

  


  
  <div class="form-group">
    <%# f.label :exp_time %>
    <br/>
    <%# f.time_select :exp_time, :class => "form-control textLabel", :required => "required" %>
  </div>

  <div class="first-title">
    <%= image_tag "new-experience-general-info.png" %>
    <h2>Experience description and things needed</h2>
  </div>

  <div class="description">
    <%= f.label :description, "Describe your experience" %>
    <%= f.text_area :description, :class => "form-control", :rows => 5, :required => "required" %>
    <div class="additionaActions">
      <a href="#">Add special instructions</a>
    </div>
  </div>

  <!--
  <div class="form-group">
    <%# f.label :description, "Describe your experience in detail" %>
    <%# f.text_area :description, :class => "form-control", :placeholder => "Describe this experience", :rows => 5, :required => "required" %>
  </div>

  <div class="form-group">
    <%# f.label :description, "What is included in your experience" %>
    <%# f.text_area :what_does_this_include, :class => "form-control",:placeholder => "Tell people exactly what they will get when they attend this experience", :rows => 5 %>
  </div>

  <div class="form-group">
    <%# f.label :description, "Specific things people should bring" %>
    <%# f.text_area :things_to_remember, :class => "form-control",:placeholder => "Should your customer bring something?", :rows => 5 %>
  </div>
  -->

  <div class="first-title">
    <%= image_tag "new-experience-general-info.png" %>
    <h2>Meeting place</h2>
  </div>

  <!--
  <label>Address</label>
  <div class="address">
    <div class="form-group">
      <%= f.text_field :line_one, :class => "form-control",:placeholder => "Address line one" %>
      <%= f.text_field :line_two, :class => "form-control",:placeholder => "Address line one" %>
      <%= f.text_field :land_mark, :class => "form-control",:placeholder => "City" %>
      <%= f.text_field :state, :class => "form-control",:placeholder => "State" %>
      <%= f.text_field :country, :class => "form-control",:placeholder => "Country" %>
      <%= f.text_field :pincode, :class => "form-control",:placeholder => "Pincode" %>
    </div>  
  </div>
  -->

  <div class="form-group">
    <%= f.label :city, "Land mark" %>
    <%= f.text_field :city, :class => "form-control", :placeholder => "Where should people come. Enter a land mark", :required => "required" %>
    <div class="map_canvas"></div>
  </div>

  
  

  <div class="form-group">
    <%# f.label :exp_images, "Upload Your Avatar:" %>
    <%# f.filepicker_field :exp_images%>
  </div>


  <!--
  <div class="form-group">
    <%# f.label :image %>
    <br/>
    <%# f.file_field :image, :class => "form-control", :required => "required" %>
  </div>
  -->


  <!--
  <div class="form-group">
    <%= f.label :image, "Upload header images" %>
    <br>
    -->
    <!-- Button trigger modal -->
    <!--
<button class="button" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
  -->


  </div>
  <%= f.hidden_field :latitude%>>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :random_id, :value => @random_temp_experience_id %>


  <div class="actions">
    <%= f.submit :class => "button is-primary", :style => "font-weight: bold" %>
  </div>
<% end %>


