<!-- NEW EXPERIENCE FORM -->
<%= form_for(@experience) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <br/>
          <h3>Experience <span class="semi-bold">Details</span></h3>
          <br>

          <div class="form-group">
            <label class="form-label">Catch your customers attention with a nice title ( under 5 words)</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_field :name, :class => "form-control", :autofocus => true, :required => "required" %>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">What type of experience are you conducting? ( select 1)</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <select name="experience[category]" class="form-control select2" id="source">
                <option value="1">City Tour</option>
                <option value="2">Hobby Class</option>
                <option value="3">Adventure Activity</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">Describe your experience in a line ( under 15 words )</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_field :tagline, :class => "form-control", :required => "required" %>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">What is included in the experience</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_area :what_does_this_include, :class => "form-control", :rows => 5, :required => "required" %>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Price per ticket (all inclusive)</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->

                  <div class="input-group">
                    <span class="input-group-addon primary">
                    <span class="arrow" style="right: 0"></span>
                      <i class="fa fa-usd"></i>
                    </span>
                    <!--<input type="text" placeholder="Username" class="form-control">-->
                    <%= f.number_field :price, :class => "form-control", :required => "required" %>
                  </div>




                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Maximum number of people per session</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.number_field :max_seats, :class => "form-control", :required => "required" %>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="form-label">Any special instructions?</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_area :things_to_remember, :class => "form-control", :rows => 5, :required => "required" %>
            </div>
          </div>

        </div>
        <!--END GRID BODY-->
      </div>
    </div>

    <div class="col-md-4">
      <div class="grid simple">
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <br/>
          <h3>Experience <span class="semi-bold">Schedule</span></h3>
          <br>
          <div class="form-group">
            <label class="form-label">Select the dates when this experience is available</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <div class="input-group">
                <!--<input type="text" class="form-control" id="date_picker">-->
                <%= f.text_field :exp_date, :class => "form-control" %>
                <%# text_field_tag 'exp_dates[]', @experience.exp_date, :class => "form-control" %>
                <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
              </div><!-- /input-group -->
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">What time does the experience happen every day</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <div class="input-append bootstrap-timepicker-component">
                <%= f.text_field :exp_time, :class => "timepicker-default form-control" %>
                <span class="add-on"><span class="arrow"></span><i class="fa fa-clock-o"></i></span> </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">Experience duration</label>

            <div class="row">
              <div class="col-md-12">

                <div class="input-group">
                    <span class="input-group-addon">
                      Hours
                    </span>
                  <!--<input type="text" placeholder="Username" class="form-control">-->
                  <%= f.number_field :hours, :class => "form-control" %>
                </div>

              </div>
            </div>

          </div>



          <!-- END DATE AND TIME PICKER -->

          <div class="clearfix"></div>
        </div>
        <!--END GRID BODY-->
      </div>
    </div> <!-- END COL 4 - EXPERIENCE SCHEDULE -->

  </div> <!-- END ROW -->

  <div class="row">
    <!-- 8 COL -->
    <div class="col-md-8">
      <div class="grid simple">
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <br/>
          <h3>Experience <span class="semi-bold">Meeting Place</span></h3>
          <br>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label class="form-label">Address Line One</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :line_one, :class => "form-control" %>
                </div>
              </div>
            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Address Line Two</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :line_two, :class => "form-control" %>
                </div>
              </div>
            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">City</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :city, :class => "form-control" %>
                </div>
              </div>

            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">State</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :state, :class => "form-control" %>
                </div>
              </div>

            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Country</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :country, :class => "form-control" %>
                </div>
              </div>

            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Zipcode</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :pincode, :class => "form-control" %>
                </div>
              </div>

            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">What is the closest landmark?</label>
                <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
                <div class="controls">
                  <!--<input type="text" class="form-control">-->
                  <%= f.text_field :land_mark, :class => "form-control", :required => true%>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div id="map" style="width: 100%; height: 300px; background: #eee;">
                <h2>Type an address in the input above</h2>
              </div>
            </div>
          </div>
          <%= f.hidden_field :latitude, :value => 0 %>
          <%= f.hidden_field :longitude %>
          <%= f.hidden_field :random_id, :value => @random_temp_experience_id %>
        </div>
        <!--END GRID BODY-->
      </div>




    </div>
    <!-- END 8 COL -->
    <!-- 4 COL -->
    <div class="col-md-4">
      <div class="grid simple">
        <div class="grid-body no-border">
          <br/>
          <h3>Experience <span class="semi-bold">Photos</span></h3>
          <p>
            Upload pictures to show your customers what your experience looks like. <span class="bold">( Maximum 6 )</span>
          </p>
          <div class="row-fluid" style="display: table; vertical-align:middle;text-align:center">

            <%= f.filepicker_field :images, multiple: true, store_location: "S3", services: "COMPUTER", container: "modal", button_class: "btn btn-default btn-cons", onchange: 'onPhotoUpload(event)' %>

            <div id="file-upload-success-message" class="alert alert-success">
              <button data-dismiss="alert" class="close"></button>
              Success: Pictures <a class="link" href="#">uploaded</a>
            </div>


            <table id="files_uploaded_list" class="table table-striped table-flip-scroll cf" style="width: 100%">
              <tbody>
                <% if @experience_images.present? %>
                <% @experience_images.each do |exp_image| %>
                  <tr style="border-top:5px solid #fff">
                    <td>
                      <img src="<%= exp_image.image %>" class="img-responsive"/>
                    </td>
                    <td>
                    <span>
                      <!--<a href="/experiences/<%= exp_image.id %>/remove-photo" class="remove-photo">Delete</a>-->
                      <button class="btn btn-danger btn-sm btn-small remove-photo" type="button" data-photo-id="/experiences/<%= exp_image.id %>/remove-photo">Delete</button>
                    </span>
                    </td>
                  </tr>
                <% end %>
                <% end %>
                <tr></tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- END 4 COL -->

  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.submit :class => "btn btn-primary btn-cons", :id => "create_experience" %>
    </div>
  </div>
  <br/>
  <br/>
<% end %>
<!-- END NEW EXPERIENCE FORM -->


