<!-- NEW EXPERIENCE FORM -->
<%= form_for(@experience) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <!-- GRID TITLE -->
        <div class="grid-title no-border">
          <h4>Describe your experience</h4>
        </div>
        <!-- END GRID TITLE -->
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <h3>Experience <span class="semi-bold">Details</span></h3>
          <p>
            In this section give your experience a catchy title and describe it in detail. Paint a picture, tell people what they will get when they attend your experience and tell them why they should attend.
          </p>
          <br>
          <%= f.text_field :name, :class => "form-control", :placeholder => "Enter your experience name", :autofocus => true, :required => "required" %>
          <br/>
          <%= f.text_field :tagline, :class => "form-control", :placeholder => "Enter a tagline", :required => "required" %>
          <br/>
          <%= f.text_area :what_does_this_include, :class => "form-control", :placeholder => "What does this experience include?", :rows => 5, :required => "required" %>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <%= f.number_field :price, :class => "form-control", :placeholder => "Enter the price per ticket", :required => "required" %>
            </div>
            <div class="col-md-6">
              <%= f.number_field :max_seats, :class => "form-control", :placeholder => "Total number of tickets than can be sold", :required => "required" %>
            </div>
          </div>
          <br/>

          <%= f.text_area :things_to_remember, :class => "form-control", :placeholder => "Specific things people should bring for this experience", :rows => 5, :required => "required" %>
          <br/>


        </div>
        <!--END GRID BODY-->
      </div>
    </div>

    <div class="col-md-4">
      <div class="grid simple">
        <!-- GRID TITLE -->
        <div class="grid-title no-border">
          <h4>Date and Time</h4>
        </div>
        <!-- END GRID TITLE -->
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <h3>Experience <span class="semi-bold">Schedule</span></h3>
          <p>
            How often does your experience happen? Select all the dates when it happens in the calendar below
          </p>
          <br>
          <!-- START DATE AND TIME PICKER -->
          <!--
          <div class="input-append success date">
            <input type="text" class="form-control" id="experience_date">
            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
          </div>
          -->
          <!--<div class="input-daterange input-group" id="datepicker">-->
            <!--<input type="text" class="input-sm form-control" name="start" />-->
            <!--<span class="input-group-addon">to</span>-->
            <!--<input type="text" class="input-sm form-control" name="end" />-->
          <!--</div>-->

          <div class="input-group">
            <!--<input type="text" class="form-control" id="date_picker">-->
            <%= f.text_field :exp_date, :class => "form-control" %>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
          </div><!-- /input-group -->


          <br>
          <br>
          <div class="control-group">
            <div class="controls">
              <div class="input-append bootstrap-timepicker-component">
                <input type="text" class="timepicker-default span12">
                <span class="add-on"><span class="arrow"></span><i class="fa fa-clock-o"></i></span> </div>
            </div>
          </div>
          <!-- END DATE AND TIME PICKER -->

          <div class="clearfix"></div>
        </div>
        <!--END GRID BODY-->
      </div>
    </div> <!-- END COL 4 - EXPERIENCE SCHEDULE -->

  </div> <!-- END ROW -->

  <div class="row">
    <!-- 8 COL -->
    <div class="col-md-8">
      <div class="grid simple">
        <!--HEADING-->
        <div class="grid-title no-border">
          <h4>Where should people come for this experience</h4>
        </div>
        <!--END HEADING-->
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <h3>Experience <span class="semi-bold">Meeting Place</span></h3>
          <p>
            Tell people where they should come for the experience.
          </p>
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :line_one, :class => "form-control", :placeholder=>"Address Line One" %>
            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <%= f.text_field :line_two, :class => "form-control", :placeholder=>"Address Line Two" %>
            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :city, :class => "form-control", :placeholder=>"City" %>
            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <%= f.text_field :state, :class => "form-control", :placeholder=>"State" %>
            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :country, :class => "form-control", :placeholder=>"Country" %>
            </div> <!-- END COL 6 -->
            <div class="col-md-6">
              <%= f.text_field :pincode, :class => "form-control", :placeholder=>"Zipcode" %>
            </div> <!-- END COL 6 -->
          </div> <!-- END ROW -->
          <br>
          <div class="row">
            <div class="col-md-12">
              <%= f.text_field :land_mark, :class => "form-control", :placeholder => "Landmark" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div id="map" style="width: 100%; height: 300px; background: #eee;">
                <h2>Type an address in the input above</h2>
              </div>
            </div>
          </div>
          <%= f.hidden_field :latitude, :value => 0 %>
          <%= f.hidden_field :longitude %>
          <%= f.hidden_field :random_id, :value => @random_temp_experience_id %>
        </div>
        <!--END GRID BODY-->
      </div>




    </div>
    <!-- END 8 COL -->
    <!-- 4 COL -->
    <div class="col-md-4">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Picture upload</h4>
        </div>
        <div class="grid-body no-border">
          <h3>Experience <span class="semi-bold">Photos</span></h3>
          <p>
            Tell people where they should come for the experience.
          </p>
          <div class="row-fluid" style="display: table; vertical-align:middle;text-align:center">

            <%= f.filepicker_field :images, multiple: true, store_location: "S3", services: "COMPUTER", dragdrop: true, drag_text: "Drag files and drop files here or click here", drag_class: "ink-file-uploader", container: "modal", button_class: "btn btn-default btn-cons" %>



          </div>
        </div>
      </div>
    </div>
    <!-- END 4 COL -->

  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.submit :class => "btn btn-primary btn-cons", :id => "create_experience" %>
    </div>
  </div>
  <br/>
  <br/>
<% end %>
<!-- END NEW EXPERIENCE FORM -->



<%# f.filepicker_field :avatar_url %> <!-- User#avatar_url is a regular string column -->

<%= form_for(@experience_image, :html => {:multipart => true, :class => "dropzone"}) do |f| %>
  <%= f.file_field :image, :multiple => true, :name => "experience_image[image]", :class => "hidden" %>
  <%= f.hidden_field :random_id, :value => @random_temp_experience_id %>
<% end %>