<%= content_for :js do %>
  <%= javascript_include_tag "dashboard/experiences", 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
<% end %>

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Edit Experience</h3>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PlACE PAGE CONTENT HERE -->
<%= render 'form' %>
<!-- END PLACE PAGE CONTENT HERE -->

<%= content_for :edit_js do %>
  <script>
    var dates_previous_selected = <%= @available_dates %>;
    console.log("the previous dates are:" + dates_previous_selected)
    $.each(dates_previous_selected, function( index, value ) {
      dates_previous_selected[index] = new Date(dates_previous_selected[index] * 1000);
    });

    $('#experience_exp_date').datepicker({
      multidate: true,
      startDate: "<%=  Date.today.strftime('%m/%d/%Y') %>"
    });
    $('#experience_exp_date').datepicker('setDates', dates_previous_selected);
    $('#experience_exp_date').datepicker('update');
  </script>
  <script>


  </script>
<% end %>


