<%= content_for :js do %>
  <%= javascript_include_tag "dashboard/experiences", 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
<% end %>

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Edit Experience</h3>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PlACE PAGE CONTENT HERE -->
<%= render 'form' %>
<!-- END PLACE PAGE CONTENT HERE -->

<%= content_for :edit_js do %>
  <script>
    $('#experience_exp_date').datepicker({
      multidate: true,
      startDate: "<%=  Date.today.strftime('%m/%d/%Y') %>",
      beforeShowDay: function(date) {
        if ($.inArray($.datepicker.formatDate('yy-mm-dd', date), <%=raw @available_dates.to_json %>) == -1) {
//          console.log($(this));
//          return {
//            enabled: false
//          };
          return 'highlight';
        }
        return [true, ''];

      }
    });

  </script>
<% end %>


