<%= content_for :js do %>
  <%= javascript_include_tag "dashboard/experience_index.js", 'data-turbolinks-track' => true %>
<% end %>

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Experiences</h3>
  <%= link_to "New Experience", dashboard_experiences_new_path, :class => "btn btn-primary btn-cons pull-right" %>
</div>
<!-- END PAGE TITLE -->

<% if @experiences.count == 0 %>
  <%= render :partial => "no_experiences" %>
<% else %>
  <%= render :partial => "experiences" %>
<% end %>