<%= content_for :js do %>
  <%# javascript_include_tag "dashboard/experience_index.js", 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :experience_share do %>
  <!--MODAL WINDOW FOR SHARING ON SOCIAL MEDIA -- START -->
  <%= render :partial => "share" %>
  <!--MODAL WINDOW FOR SHARING ON SOCIAL MEDIA -- END -->
<% end %>



<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Experiences</h3>
  <%= link_to "New Experience", new_dashboard_experience_path, :class => "btn btn-primary btn-cons pull-right" %>
</div>
<!-- END PAGE TITLE -->

<% if @experiences.count == 0 %>
  <%= render :partial => "no_experiences" %>
<% else %>

  <% if @about.blank? || @integration_tokens.blank? %>

    <div class="row">
      <div class="col-md-8">
        <%= render :partial => "experiences", :locals => { :columns => 2 } %>
      </div>
      <div class="col-md-4">
        <% if @about.blank? %>
          <div class="well well-large">
            <h4>
              <span class="semi-bold">No about</span>
              you added
              <!--<span class="semi-bold">BOLD</span> , <i>EVERYTHING</i>-->
            </h4>
            <p>
              Please fill in the "About the Host" section so that your customers can get to know more about the host who is delivering this experience.
            </p>
            <%= link_to "Add About Host", dashboard_profile_about_path, :class => "btn btn-success btn-con" %>
          </div>
        <% elsif @integration_tokens %>
          <div class="well well-large">
            <h4>
              <span class="semi-bold">No integrations</span>
               added
              <!--<span class="semi-bold">BOLD</span> , <i>EVERYTHING</i>-->
            </h4>
            <p>
              Integrate with Facebook and share your website there.
            </p>
            <%= link_to "Integrate Now", dashboard_integrations_path, :class => "btn btn-success btn-con" %>
          </div>
        <% end %>
      </div>

    </div>

  <% else %>
    <%= render :partial => "experiences", :locals => { :columns => 3 } %>
  <% end %>


<% end %>

