<%= content_for :css do %>
  <%= stylesheet_link_tag    "dropzone/css/dropzone.css", media: "all", "data-turbolinks-track" => true %>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag "dropzone/dropzone.min.js", 'data-turbolinks-track' => true %>
<% end %>

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>New Experience</h3>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PlACE PAGE CONTENT HERE -->
<%= render 'form' %>
<!-- END PLACE PAGE CONTENT HERE -->