<%= form_for(@advance_booking) do |f| %>
  <% if @advance_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advance_booking.errors.count, "error") %> prohibited this advance_booking from being saved:</h2>

      <ul>
      <% @advance_booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :booking_date %><br>
    <%= f.date_select :booking_date %>
  </div>
  <%= f.hidden_field :experience_id, :value => experience_id %>
  <%# experience_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
