<!--COMMUNICATIONS START-->
<div id="inbox-wrapper" class="row animated fadeIn" style="display: block;">
  <div class="col-md-12">
    <div class="grid simple">
      <div style="min-height: 850px;" class="grid-body no-border email-body">
        <br/>

        <div class="row-fluid">
          <div class="row-fluid dataTables_wrapper">
            <!--HEADER START-->
            <h2 class="inline">Messages</h2>
            <div class="pull-right">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                  <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--HEADER END-->
            <!--MESSAGES LIST START-->
            <div id="email-list">
              <table id="emails" class="table table-striped table-fixed-layout table-hover">
                <!--HEADING START-->
                <thead>
                  <tr>
                    <th class="small-cell"></th>
                    <th class="small-cell"></th>
                    <th class="medium-cell"></th>
                    <th></th>
                    <th class="medium-cell"></th>
                  </tr>
                </thead>
                <!--HEADING END-->
                <!--MESSAGES START-->
                <tbody>
                  <tr>
                    <td class="small-cell v-align-middle">
                      <div class="checkbox check-success ">
                        <input type="checkbox" value="1" id="checkbox8">
                        <label for="checkbox8"></label>
                      </div>
                    </td>
                    <td class="small-cell v-align-middle">
                      <div class="star">
                        <input type="checkbox" checked="" value="1" id="checkbox9">
                        <label for="checkbox9"></label>
                      </div>
                    </td>
                    <td class="clickable v-align-middle">David Nester</td>
                    <td class="clickable tablefull v-align-middle"><span class="muted">Less spam, and mobile access. Gmail is email that's intuitive, ...efficient, and useful. And maybe even fun.</span></td>
                    <td class="clickable"><span class="muted">Yesterday </span></td>

                  </tr>
                  <tr>
                    <td class="small-cell v-align-middle">
                      <div class="checkbox check-success ">
                        <input type="checkbox" value="1" id="checkbox8">
                        <label for="checkbox8"></label>
                      </div>
                    </td>
                    <td class="small-cell v-align-middle">
                      <div class="star">
                        <input type="checkbox" checked="" value="1" id="checkbox9">
                        <label for="checkbox9"></label>
                      </div>
                    </td>
                    <td class="clickable v-align-middle">David Nester</td>
                    <td class="clickable tablefull v-align-middle"><span class="muted">Less spam, and mobile access. Gmail is email that's intuitive, ...efficient, and useful. And maybe even fun.</span></td>
                    <td class="clickable"><span class="muted">Yesterday </span></td>

                  </tr>
                  <tr>
                    <td class="small-cell v-align-middle">
                      <div class="checkbox check-success ">
                        <input type="checkbox" value="1" id="checkbox8">
                        <label for="checkbox8"></label>
                      </div>
                    </td>
                    <td class="small-cell v-align-middle">
                      <div class="star">
                        <input type="checkbox" checked="" value="1" id="checkbox9">
                        <label for="checkbox9"></label>
                      </div>
                    </td>
                    <td class="clickable v-align-middle">David Nester</td>
                    <td class="clickable tablefull v-align-middle"><span class="muted">Less spam, and mobile access. Gmail is email that's intuitive, ...efficient, and useful. And maybe even fun.</span></td>
                    <td class="clickable"><span class="muted">Yesterday </span></td>

                  </tr>
                  <tr>
                    <td class="small-cell v-align-middle">
                      <div class="checkbox check-success ">
                        <input type="checkbox" value="1" id="checkbox8">
                        <label for="checkbox8"></label>
                      </div>
                    </td>
                    <td class="small-cell v-align-middle">
                      <div class="star">
                        <input type="checkbox" checked="" value="1" id="checkbox9">
                        <label for="checkbox9"></label>
                      </div>
                    </td>
                    <td class="clickable v-align-middle">David Nester</td>
                    <td class="clickable tablefull v-align-middle"><span class="muted">Less spam, and mobile access. Gmail is email that's intuitive, ...efficient, and useful. And maybe even fun.</span></td>
                    <td class="clickable"><span class="muted">Yesterday </span></td>

                  </tr>
                  <tr>
                    <td class="small-cell v-align-middle">
                      <div class="checkbox check-success ">
                        <input type="checkbox" value="1" id="checkbox8">
                        <label for="checkbox8"></label>
                      </div>
                    </td>
                    <td class="small-cell v-align-middle">
                      <div class="star">
                        <input type="checkbox" checked="" value="1" id="checkbox9">
                        <label for="checkbox9"></label>
                      </div>
                    </td>
                    <td class="clickable v-align-middle">David Nester</td>
                    <td class="clickable tablefull v-align-middle"><span class="muted">Less spam, and mobile access. Gmail is email that's intuitive, ...efficient, and useful. And maybe even fun.</span></td>
                    <td class="clickable"><span class="muted">Yesterday </span></td>

                  </tr>
                </tbody>
                <!--MESSAGES END-->
              </table>
            </div>
            <!--MESSAGES LIST END-->

          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!--COMMUNICATIONS END-->











<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Messages
  </h1>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
  <div class="row">

    <% if @messages_by_name.blank? %>
      <div class="alert alert-warning"><strong>Now messages yet.</strong> As soon as someone sends you a message it will show up here.</div>
    <% else %>
      <div class="col-md-4">
        <ul class="messageSender">
          <% @messages_by_name.each do |name, messages| %>
            <li><%= name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="messageContainer">

          <% @messages_by_name.each do |name, messages| %>
            <div class="messageHeader">
              <h4>conversation with <strong><%= name %></strong></h4>
            </div>
            <ul>
              <% sorted_messages = messages.sort_by{|e| e[:time_ago]} %>
              <% sorted_messages.each do |message| %>
                <li>
                  <div class="sender">
                    <strong><%= message.name %></strong>
                  </div>
                  <%= message.body %>
                  <div class="sender">
                    <strong><%= message.name %></strong>
                  </div>
                  <%= message.body %>

                </li>
              <% end %>
            </ul>
          <% end %>

          <%= render :partial => "messages/hostReply" %>

        </div>

      </div>
    <% end %>


  </div>
</div>


