<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Messages
  </h1>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
  <div class="row">

    <% if @messages_by_name.blank? %>
      <div class="alert alert-warning"><strong>Now messages yet.</strong> As soon as someone sends you a message it will show up here.</div>
    <% else %>
      <div class="col-md-4">
        <ul class="messageSender">
          <% @messages_by_name.each do |name, messages| %>
            <li>
              <%= name %>
              <input type="hidden" name="from_email" value="<%= messages.first.id %>"/>
            </li>

          <% end %>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="messageContainer">

          <div class="noNameClicked">
            <div class="alert alert-info" id="noNameClickedAlert">
              <strong>Click</strong> on one of the names on the left to all the messages they sent.
            </div>
          </div>

          <div class="messages">
            <% @messages_by_name.each do |name, messages| %>
              <% id = messages.first.id %>
              <div id="<%= id %>" class="messageItems">
                <% messagesId = messages.first.id %>
                <div class="messageHeader" id="<%= messagesId %>">
                  <h4>conversation with <strong><%= name %></strong></h4>
                </div>
                <ul>
                  <% sorted_messages = messages.sort_by{|e| e[:time_ago]} %>
                  <% sorted_messages.each do |message| %>
                    <li>
                      <div class="sender">
                        <strong><%= message.name %></strong>
                      </div>
                      <%= message.body %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= render :partial => "messages/hostReply" %>
          </div>


        </div>

      </div>
    <% end %>


  </div>
</div>


