<%= content_for :js do %>
  <%= javascript_include_tag "dashboard/messages.js", 'data-turbolinks-track' => true %>
<% end %>


<div id="inbox-wrapper" class="row">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border email-body">
        <br>
          <div class="row-fluid">
            <div class="row-fluid dataTables_wrapper">
              <h2 class=" inline">Messages </h2>
            </div>

          <div id="email-list">
          <table id="emails" class="table table-striped table-fixed-layout table-hover">
          <thead>
          <tr>
            <th class="medium-cell"></th>
            <th></th>
            <th class="medium-cell"></th>
          </tr>
          </thead>
          <tbody>

          <% @messages_groups.each do |from, messages| %>
            <%# sender = Message.where(:from => from).where("message.name IS NOT NULL") %>
            <% first_message = Message.where(:from => from).where('name IS NOT NULL').first %>
            <% if first_message.nil? %>
              <% name = from %>
            <% else %>
              <% name = sender_name %>
            <% end %>

            <% if from == current_user.internal_email_id %>

            <% else %>
              <!--INDIVIDUAL MESSAGE START-->
              <tr data-message-id="<%= messages.first.id %>">
                <td class="clickable v-align-middle"> <%= name %> </td>
                <td class="clickable tablefull v-align-middle"><span class="muted"><%= Message.where(:from => from).first.body %></span></td>
                <td class="clickable"><span class="muted">Yesterday </span></td>

              </tr>
              <!--INDIVIDUAL MESSAGE END-->
            <% end %>



          <% end %>

          </tbody>
          </table>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>