<div class="hostDashboard">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="dashboard">

          <h3>
            Dashboard
            <span class="pull-right"><%= link_to "Create Experience", new_experience_path, :class => "button is-primary"%></span>
          </h3>

          <% if @experiences.empty? %>
            <div class="noExperiences alert alert-warning">
              You do not have any experiences yet! <strong>Why don't you create one?</strong>
            </div>
          <% else %>

            <div class="row">
              <div class="col-lg-6">
                <div class="keyValues">
                  <div class="heading">
                    Total views
                  </div>
                  <div class="value">
                    <%= @total_views %>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="keyValues">
                  <div class="heading">
                    Experiences you have live
                  </div>
                  <div class="value">
                    <%= @total_views %>
                </div>
              </div>
            </div>

          </div>

            <ul>

              <% @experiences.each do |experience| %>
                <li>
                  <a href="#"><%= link_to experience.name, experience_path(experience) %></a>
                  <div class="subDetails">
                    <% experience_attendees = Attendee.where(:experience_id =>  experience.id) %>
                    <span>Attendees: <strong><%= experience_attendees.count %></strong></span>
                    <span>Expected Revenue: <strong>Rs <%= experience_attendees.count * experience.price%></strong></span>
                  </div>
                </li>
              <% end %>
            </ul>

          <% end %>

      </div>
    </div>
  </div>
</div>

</div>>
