<% if flash[:notice] %>
  <div class="alert alert-success">
    <button class="close" data-dismiss="alert"></button>
    Success:<%= flash[:notice] %>
  </div>
<% end %>


<div class="new-attendee-form">
  <%= form_for(@attendee) do |f| %>

    <div class="form-container">
      <% if @attendee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

          <ul>
            <% @attendee.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="date-container">
        <div class="radio radio-success">

          <% duration = (@experience.hours.to_i).hours  %>
          <% @available_dates.each_with_index do |available_date, i| %>

            <% seats_filled = Attendee.where(:experience_id => @experience.id).where(:attending_date => available_date.experience_date).pluck(:seats).sum %>
            <% seats = @experience.max_seats - seats_filled %>
            <% if i == 0 %>
              <div class="date-option">
                <!--<input type="radio" checked="checked" value="yes" name="optionyes" id="yes">-->
                <%= f.radio_button :attending_date, "#{available_date.experience_date.strftime('%m/%d/%Y')}", :checked => 'checked' %>
                <label for="attendee_attending_date_<%= available_date.experience_date.strftime('%m%d%Y') %>"><%= available_date.experience_date.strftime('%B %d, %Y') %></label>
                <%= available_date.experience_time.strftime('%I:%d %p') %>
                to
                <%= (available_date.experience_time + duration).strftime('%I:%d %p') %>
                <span class="pull-right text-info"><%= seats %> Spots Remaining</span>
              </div>
            <% else %>
              <div class="date-option">
                <!--<input type="radio" value="no" name="optionyes" id="no">-->
                <%= f.radio_button :attending_date, "#{available_date.experience_date.strftime('%m/%d/%Y')}" %>
                <label for="attendee_attending_date_<%= available_date.experience_date.strftime('%m%d%Y') %>"><%= available_date.experience_date.strftime('%B %d, %Y') %></label>

                <%= available_date.experience_time.strftime('%I:%d %p') %>
                to
                <%= (available_date.experience_time + duration).strftime('%I:%d %p') %>
                <span class="pull-right text-info"><%= seats %> Spots Remaining</span>
              </div>
            <% end %>

          <% end %>

        </div>
      </div>


      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<% exp_time = ExperienceDate.where(:experience_id => experience.id).first  %>-->
          <!--<p>All the experiences happen at <span class="bold"><%# exp_time.experience_time.strftime("%I:%M%p")
          %></span> and go on for <%# experience.hours %> hours</p> -->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
      <!--<div class="col-md-12">-->
      <!--click on one of the dates below to select it.-->
      <!--</div>-->
      <!--</div>-->

      <!---->
      <!--<div class="row">-->
      <!--<div class="col-md-12">-->
      <!--<div class="form-group" style="margin-bottom: 0; padding-bottom: 10px">-->
      <!--<label class="form-label">Available Dates</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="row form-row">-->

      <!--<% @available_dates.each do |available_date| %>-->
        <!--<% seats = Attendee.where(:experience_id => @experience.id).where(:attending_date => available_date.experience_date).pluck(:seats).sum  %>-->

        <!--<div class="col-md-6">-->
        <!--<a class="btn btn-block date_select"><%= available_date.experience_date.strftime("%m/%d/%Y").to_s %> - <%= seats %> Tickets Available</a>-->
        <!--</div>-->

        <!--<% end %>-->
      <!--</div>-->
      <!--<%= f.hidden_field :attending_date, :value => "" %>-->
      <!--<br/>-->


      <div class="row form-row">
        <div class="col-md-12">
          <div class="form-group" style="margin-bottom: 0; padding-bottom: 10px">
            <label class="form-label">Tickets</label>
            <span class="help">How many people are coming?</span>
            <div class="controls">

              <%= f.number_field :seats, :class => "form-control"%>

            </div>
          </div>
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-12">

          <div class="form-group">
            <label class="form-label">Phone Number</label>
            <span class="help">e.g. "(541) 754-3010"</span>
            <div class="controls">
              <%= f.text_field :phone_number, :class => "form-control" %>
            </div>
          </div>

        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-12">

          <div class="form-group">
            <label class="form-label">Email</label>
            <span class="help">e.g. "example@example.com"</span>
            <div class="controls">
              <%= f.text_field :email, :class => "form-control" %>
            </div>
          </div>

        </div>
      </div>

      <!--
      <div class="row form-row">
        <div class="col-md-10">
          <div class="checkbox check-default">
            <input value="1" id="checkbox1" type="checkbox">
            <label for="checkbox1">I have read and agree to the Terms and Conditions</label>
          </div>
        </div>
      </div>
      -->

      <div class="field">
        <%= f.hidden_field :experience_id, :value => experience_id %>

      </div>

    </div>

    <div class="row form-row">
      <div class="col-md-12">
        <%= f.submit "RSVP Now", :class => "btn btn-primary btn-cons btn-block", :style => "margin-top: 10px" %>
      </div>
    </div>


  <% end %>
</div>


<!--SEND MESSAGE MODAL WINDOW START-->
<%= render partial: 'attendees/new_conversation', :locals => {:experience_id => experience.id, :experience => experience} %>
<!--SEND MESSAGE MODAL WINDOW END-->