<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row form-row">
    <div class="col-md-10">
      <%= f.number_field :seats, :class => "form-control", :placeholder => "Seats" %>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <div class="input-group">
        <!--<input type="text" class="form-control" id="date_picker">-->
        <%# f.text_field :exp_date, :class => "form-control" %>
        <input type="text" class="form-control" id="datepicker"/>
        <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
      </div><!-- /input-group -->



      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button"><i class="fa fa-th"></i></button>-->
      <!--</span>-->
      <!--</div>-->
      <!-- /input-group -->
    </div>
  </div>
  <br/>

  <div class="row form-row">
    <div class="col-md-10">
      <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Phone number" %>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <div class="checkbox check-default">
        <input value="1" id="checkbox1" type="checkbox">
        <label for="checkbox1">I have read and agree to the Terms and Conditions</label>
      </div>
    </div>
  </div>


  <div class="field">
    <%= f.hidden_field :experience_id, :value => experience_id %>

  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <%= f.submit "Pay Now", :class => "btn btn-primary btn-cons" %>

      <span style="font-size: 13px; font-weight: bold; margin-right: 5px;">OR</span>

      <!--SEND A MESSAGE START-->
      <button class="btn btn-cons" data-toggle="modal" data-target="#messageHost"> Ask a question </button>

      <!--SEND A MESSAGE END-->

    </div>
  </div>

<% end %>


<!--SEND MESSAGE MODAL WINDOW START-->
<%= render partial: 'attendees/new_conversation', :locals => {:experience_id => experience.id, :experience => experience} %>
<!--SEND MESSAGE MODAL WINDOW END-->