<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row form-row">
    <div class="col-md-10">
      <%= f.number_field :seats, :class => "form-control", :placeholder => "Seats" %>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <div class="input-group">
        <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-th"></i></button>
      </span>
      </div><!-- /input-group -->
    </div>
  </div>


  <div class="row form-row">
    <div class="col-md-10">


    </div>
  </div>


  <div class="row form-row">
    <div class="col-md-10">
      <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Phone number" %>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
    </div>
  </div>


  <div class="field">
    <%= f.hidden_field :experience_id, :value => experience_id %>
  </div>

  <div class="row form-row">
    <div class="col-md-10">
      <%= f.submit "Pay Now", :class => "btn btn-primary btn-cons" %>
    </div>
  </div>

<% end %>
