<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :seats %><br>
    <%= f.number_field :seats, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.hidden_field :experience_id, :value => experience_id %>
  </div>
  <div class="actions">
    <%= f.submit "RSVP Now", :class => "button is-primary", :style => "font-wight: bold" %>
  </div>
<% end %>
