
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>urbanzeak - The easiest way to sell online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />


  <%= stylesheet_link_tag    "homepage/application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag "homepage/template", media: "all", "data-turbolinks-track" => true %>

  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- END CORE CSS FRAMEWORK -->

</head>
<!-- END HEAD -->
<body>

<div class="main-wrapper">
  <%= render :partial => "compressed_navigation" %>
<div class="section full-view ha-waypoint" data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
  <%= render :partial => "navigation" %>
  <%= render :partial => "slider" %>
</div>
<div class="section white text-center p-t-40 p-b-40" id="banner-footer">
  <h2 class="normal m-b-10">
    All your customers are online...<span class="semi-bold">are you?</span>
  </h2>
  <p>
    You can setup your website in <span class="semi-bold">under 5 minutes</span>
  </p>

  <%= link_to "Join Now", new_user_registration_path, :class => "btn btn-primary btn-cons m-t-20" %>

</div>
<div id="cbp-so-scroller" class="cbp-so-scroller section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide">

  <section class="cbp-so-section">
    <figure class="cbp-so-side cbp-so-side-left">
      <!--<img src="assets/img/Retina.png" alt="img01">-->
      <%= image_tag "homepage/create_experience_with_pc.png" %>
    </figure>
    <article class="cbp-so-side cbp-so-side-right text-center middle">
      <div class="row">
        <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
          <h1 class="m-b-20"><span class="semi-bold">No 'IT guy'</span> required</h1>
          <p>
            urbanzeak lets you create your own website in minutes, without having to spends weeks or months talking to an IT guy. Fill in your content and you are ready to show the world what your experience is about.
          </p>
          <%= link_to "Join Now", new_user_registration_path, :class => "btn btn-primary btn-cons m-t-20" %>
        </div>
      </div>
    </article>
  </section>

  <section class="cbp-so-section">
    <article class="cbp-so-side cbp-so-side-left text-center middle">
      <div class="row">
        <div class="col-md-12 p-t-40 col-vlg-8 col-vlg-offset-2">

          <h1 class="m-b-20">Measure, analyse and <span class="semi-bold">grow</span></h1>
          <p>
            Find out if your marketing is working. Find out how many people visited your website and from where. Find the most effective marketing channels so that you focus your energy on places that give you the most sales.
          </p>
          <%= link_to "Join Now", new_user_registration_path, :class => "btn btn-primary btn-cons m-t-20" %>

        </div>
      </div>
    </article>
    <figure class="cbp-so-side cbp-so-side-right">
      <%= image_tag "homepage/analytics.png" %>
    </figure>
  </section>

  <section class="cbp-so-section">
    <figure class="cbp-so-side cbp-so-side-left">
      <!--<img src="assets/img/Front.png" alt="img01">-->
      <%= image_tag "homepage/social-media-integration.png" %>
    </figure>
    <article class="cbp-so-side cbp-so-side-right text-center middle">
      <div class="row">
        <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
          <h1 class="m-b-20">Keep your <span class="semi-bold">followers informed</span> </h1>
          <p>
            You have worked hard to build up likes/followers on your favorite social media like Facebook or Twitter. Do not let that hard work go to waste. urbanzeak integrates with most major social networks so that all your followers there stay informed when you create an experience.
          </p>
          <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
        </div>
      </div>
    </article>
  </section>


</div>




</div>

<!-- BEGIN CORE JS FRAMEWORK -->

<!-- END CORE JS FRAMEWORK -->

<%= javascript_include_tag "homepage/application", "data-turbolinks-track" => true %>
<script>
  new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
</script>

<%= javascript_include_tag "homepage/core", "data-turbolinks-track" => true %>

</body>
</html>