<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="customerSell">
        <h1>Do something new in your city today</h1>
        <p>
          UrbanZeak is a place to find new experiences in your city. It can be something as simple as learning how to cook or something as complicated as learning how to build a rocket. Try something today.
        </p>
      </div>

    </div>
  </div>
</div>



<div class="container">
  <div class="row listingRow">
    <div class="col-lg-4">
      <div class="listingContainer">
        <div class="expListingImageContainer">
          <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
          <div class="expOverlayDate">
            <div>Dec</div>
            <div>30</div>
          </div>
        </div>
        <div class="expListingContent">
          <strong><a href="#">Exp name</a></strong>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="listingContainer">
        <div class="expListingImageContainer">
          <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
          <div class="expOverlayDate">
            <div>Dec</div>
            <div>30</div>
          </div>
        </div>
        <div class="expListingContent">
          <strong><a href="#">Exp name</a></strong>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
          <div class="listingContainer">
            <div class="expListingImageContainer">
              <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
              <div class="expOverlayDate">
                <div>Dec</div>
                <div>30</div>
              </div>
            </div>
            <div class="expListingContent">
              <strong><a href="#">Exp name</a></strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
              </p>
            </div>
          </div>
        </div>


  </div>


  <div class="row listingRow">
    <div class="col-lg-4">
      <div class="listingContainer">
        <div class="expListingImageContainer">
          <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
          <div class="expOverlayDate">
            <div>Dec</div>
            <div>30</div>
          </div>
        </div>
        <div class="expListingContent">
          <strong><a href="#">Exp name</a></strong>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="listingContainer">
        <div class="expListingImageContainer">
          <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
          <div class="expOverlayDate">
            <div>Dec</div>
            <div>30</div>
          </div>
        </div>
        <div class="expListingContent">
          <strong><a href="#">Exp name</a></strong>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
          <div class="listingContainer">
            <div class="expListingImageContainer">
              <%= image_tag 'homepageExpImages/experienceImage1.jpg', :class => "img-responsive expListingImg" %>
              <div class="expOverlayDate">
                <div>Dec</div>
                <div>30</div>
              </div>
            </div>
            <div class="expListingContent">
              <strong><a href="#">Exp name</a></strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed mi commodo enim pretium rhoncus at eu velit. Etiam non risus venenatis, mattis velit eu, convallis erat.
              </p>
            </div>
          </div>
        </div>


  </div>
</div>