<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="customerSell">
        <h1>Do something new in your city today</h1>
        <p>
          UrbanZeak is a place to find new experiences in your city. It can be something as simple as learning how to cook or something as complicated as learning how to build a rocket. Try something today.
        </p>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 homepageCountry">
      <h2>All experience in <%= @country %></h2>
      <span><a class="button is-primary pull-right" data-toggle="modal" data-target="#cityFilter">Show experiences from your city</a></span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cityFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Change City</h4>
          </div>
          <div class="modal-body">

              <div class="input-group">
                <input type="text" class="form-control typeahead" id="filterInput" placeholder="Enter your city name here and we will find all the experiences in your city.">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="filter">Get experiences!</button>
                </span>
              </div><!-- /input-group -->

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</div>


<div class="container">
  <% @experiences.in_groups_of(3, false).each do |experienceRow| %>
    <div class="row listingRow">
      <% experienceRow.each do |experience| %>
        <div class="col-lg-4">
          <div class="listingContainer">
            <div class="expListingImageContainer">
              <%= image_tag experience.image_url(:thumb).to_s, :class => "img-responsive expListingImg"%>
              <div class="expOverlayDate">
                <div><%= experience.exp_date.strftime("%b") %></div>
                <div><%= experience.exp_date.strftime("%d") %></div>
              </div>
              <div class="hostOverlap">
                <% user_id = experience.user_id %>
                <% host = Host.where(:user_id => user_id).first %>
                <% if host.nil? %>

                <% else %>
                  <%= image_tag host.avatar_url(:thumb).to_s, :class => "img-responsive img-circle homepageHostImage" %>
                <% end %>

              </div>

            </div>
            <div class="expListingContent">
              <strong>
                <%= link_to experience.name, experience_path(experience) %>
              </strong>
              <p>
                <%= experience.description.truncate(150) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="homepageSell">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p><strong>Do you have a fun and unique experience to provide to people in your city?</strong></p>

        <p>
          Host your experience with UrbanZeak and explore a simpler and effective way to showcase, share, manage and sell your experience
        </p>
        <%= link_to "Host your experience on UrbanZeak", pages_sell_path, :class => "button is-secondary" %>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li><%= link_to "Terms and Conditions", pages_terms_path %></li>
          <li><%= link_to "Privacy Policy", pages_privacy_path %></li>
        </ul>
      </div>
    </div>
  </div>

</div>

