<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% @experience.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name your experience" %>
    <%= f.text_field :name, :class => "form-control",:placeholder => "A short name for people to recognize what your experience is about", :autofocus => true, :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control",:placeholder => "Tell people what your experience is about. You can be as descritive as you like. Paint a picture about your experience with words.", :rows => 5, :required => "required" %>
  </div>

  <div class="form-group">
    <%= f.label :what_does_this_include %>
    <%= f.text_area :what_does_this_include, :class => "form-control",:placeholder => "Tell people exactly what they will get when they attend this experience", :rows => 5 %>
  </div>

  <div class="form-group">
    <%= f.label :things_to_remember %>
    <%= f.text_area :things_to_remember, :class => "form-control",:placeholder => "Anything specific your customers have to do before they come to the event? For example are sneakers required for your experience or is there a dress code?", :rows => 5 %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control ff_elem", :placeholder => "Start typing and we find your city.", :required => "required" %>
    <!--<input class="ff_elem" type="text" name="ff_nm_from[]" value="" id="f_elem_city"/>-->
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :class => "form-control", :placeholder => "How much should a person pay you when they attend?", :required => "required" %>
  </div>

  <div class="form-group">
    <%= f.label :max_seats %>
    <%= f.text_field :max_seats, :class => "form-control", :placeholder => "Maximum number of people that can attend this event", :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_date %>
    <br/>
    <%= f.date_select :exp_date, :class => "form-control", :required => "required" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_time %>
    <br/>
    <%= f.time_select :exp_time, :class => "form-control", :required => "required" %>
  </div>

  <div class="form-group">
    <%# f.label :exp_images, "Upload Your Avatar:" %>
    <%# f.filepicker_field :exp_images%>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <br/>
    <%= f.file_field :image, :class => "form-control", :required => "required" %>
  </div>

    <%= f.hidden_field :latitude%>

    <%= f.hidden_field :longitude %>

  <div class="form-group">
    <label>Select the meeting point on the map below</label>
    <div id="map"></div>
  </div>


  <div class="actions">
    <%= f.submit :class => "button is-primary", :style => "font-weight: bold" %>
  </div>
<% end %>

<script>
  $('#new_experience').validate();
</script>

<script>
  $(document).ready(function() {
    $("#experience_description").autoGrow();
    $("#experience_what_does_this_include").autoGrow();
    $("#experience_things_to_remember").autoGrow();
  });
</script>


<script type="text/javascript">

  jQuery(function ()
  {
    jQuery("#experience_city").autocomplete({
      source: function (request, response) {
        jQuery.getJSON(
                "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
                function (data) {
                  response(data);
                }
        );
      },
      minLength: 3,
      select: function (event, ui) {
        var selectedObj = ui.item;
        jQuery("#experience_city").val(selectedObj.value);
        return false;
      },
      open: function () {
        jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
      },
      close: function () {
        jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
      }
    });
    jQuery("#experience_city").autocomplete("option", "delay", 100);
  });
</script>