<!--GALLERY START-->
<div class="container">
  <!--MARGIN TOP AND BOTTOM START-->
  <div class="p-t-20" id="experience_pictures">
    <!--<h2 class="p-t-10">Experience <span class="semi-bold">Pictures</span></h2>-->
    <h1 class="p-t-10 center-text semi-bold"><%= @experience.name %></h1>
    <h4 class="center-text semi-bold p-b-10"><%= @experience.tagline %></h4>
    <div class="center-text p-b-40">
      <a href="#about_experience" class="btn btn-purple btn-lg  btn-large m-r-10 center-block" style="-webkit-transition: all 0.12s linear 0s; transition: all 0.12s linear 0s; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 15px; border-width: 0px; margin: 0px 7.68px 11.52px 0px; padding: 12px 19px; font-size: 15px; text-transform: uppercase">JOIN THIS <%= @experience.category %> IN <%= @experience.city %> NOW</a>
    </div>

    <div class="portfolio-grid portfolioContainer p-b-20">
      <ul id="thumbs" class="col3">

        <% @images.each do |image| %>
          <li class="item web">
            <div class="portfolio-image-wrapper">
              <%# image_tag image.image_url.to_s %>
              <%= filepicker_image_tag image.image, w: 371, h: 271, fit: 'crop', style: "margin-bottom: 10px" %>
            </div>
            <div class="item-info">
            </div>
            <div class="clearfix"></div>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!--MARGIN TOP AND BOTTOM END-->
</div>
<br>
<br>
<!--GALLERY END-->
