<!--LOCATION MAP START-->
<div class="section white">
  <div class="container">
    <div class="p-t-10 p-b-50 ">
      <div class="row feature-list">
        <div class="col-md-12">
          <h2 class="text-center"><span class="semi-bold">Venue</span></h2>
          <div class="center-text">
            <span class="bold">Address:</span>
            <%= @experience.line_one  %>, <%= @experience.line_two %>, <%= @experience.city %>, <%= @experience.country %> - <%= @experience.pincode %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="section white" style="height:350px; width: 100%" id="map"></div>

<!--LOCATION MAP END-->