<div class="experienceShow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="experienceShowContainer">


          <%# image_tag @experience.image_url(:show).to_s, :id => "expShowImg", :style => "width: 100%"  %>


          <h2><%= @experience.name%></h2>
          <div class="subDetails">
            <ul>
              <li>On:
                <strong>
                  <%= @experience.exp_date.strftime('%A %d-%B-%Y ') %> at <%= @experience.exp_time.strftime('%I:%M %p') %>
                </strong>
                In:
                <strong><%= @experience.city %></strong>
              </li>

            </ul>
          </div>
          <div>
            <a href="#chat" class="button is-primary fancybox">Chat with the host now</a>
          </div>
          <div>
            <p>
              <%= simple_format(@experience.description).html_safe %>

            </p>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="experienceSubDetails">
          <h4><%= @experience.name %></h4>
          <strong>Rs <%= @experience.price %></strong>
          <br/>
          <strong>RSVP Now</strong>
          <%= render partial: 'attendees/form', :locals => {:experience_id => @experience.id} %>
        </div>

        <div class="experienceSubDetails">
          <strong>Experiences are better with friends</strong>
          <!-- AddThis Button BEGIN -->
          <!--
          <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-529e264e12087782"></script>
          -->
          <!-- AddThis Button END -->
        </div>

        <div class="experienceSubDetails">
          <strong>Meeting point</strong>
          <!--
          <div id="gmap" style="width: 100%; height: 200px"></div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  /*
  $("#gmap").gmap3({
    marker:{
      values: [
        {latLng:[<%= @experience.latitude  %>, <%= @experience.longitude %>]}
      ]

    },
    map:{
      options:{
        zoom: 14
      }
    }
  });
        */
</script>

<div id="angularChat" ng-app="clientchatApp">
  <div ng-controller="ClientchatCtrl">
    <div class="liveChat">
      <span>Chat live with the host now</span>
      <div id="chatForm" ng-cloak class="ng-cloak">
        <div class="chatTextArea">
          <ul>
            <li ng-repeat="message in messages">{{ message.message }}</li>
          </ul>
        </div>
        <div class="chatFormInput">
          <div class="form-group">
            <input type="text" ng-model="message" class="form-control" placeholder="Enter your message" ng-keypress="addMessage($event)"/>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>






<div id="chat">
  <div class="chatContent">
    <h3>Chat</h3>
    <div id="chatText"></div>
    <div class="chatInput">
      <div class="form-group">
        <input type="text" class="form-control" id="message" style="width: 755px" placeholder="Enter your message" autofocus="true">
      </div>
    </div>
  </div>
</div>

