<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @experience.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @experience.exp_date %>
</p>

<p>
  <strong>Exp time:</strong>
  <%= @experience.exp_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @experience.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @experience.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @experience.longitude %>
</p>

<p>
  <strong>Max seats:</strong>
  <%= @experience.max_seats %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
