<!-- BEGIN PlACE PAGE CONTENT HERE -->
<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Dashboard</h3>
</div>
<!-- END PAGE TITLE -->

<!--TOP LINE CHART-->
<div class="row">
  <!--6 COL START-->
  <div class="col-md-6">
    <div class="grid simple">
      <!--GRID TITLE START-->
      <div class="grid-title no-border">
        <h4>Purchases</h4>
      </div>
      <!--GRID TITLE END-->
      <!--GRID BODY START-->
      <div class="grid-body no-border">
        <% @purchases.each do |experience| %>
          <h4><%= experience.name %></h4>
          <!--TABLE START-->
          <table class="table no-more-tables">

            <% attendee_records_available = false %>
            <% header_added = false %>
            <tbody>
            <% experience.attendees.last(6).each do |attendee| %>

              <% if header_added == false %>
                <% header_added = true %>
                <thead>
                <tr>
                  <th style="width:22%">Email</th>
                  <th style="width:10%">Tickets</th>
                  <th style="width:10%">Total</th>
                </tr>
                </thead>
              <% end %>
              <% attendee_records_available = true %>
              <tr>
                <td class="v-align-middle">
                  <%= attendee.email %>
                </td>
                <td class="v-align-middle">
                  <%= attendee.seats %>
                </td>
                <td>
                  <%= attendee.seats * experience.price %>
                </td>
              </tr>

            </tbody>
            <% end %>

            <% if attendee_records_available == false %>
              <p class="semi-bold">No purchases today!</p>
            <% end %>

          </table>
          <!--TABLE END-->
        <% end %>


      </div>
      <!--GRID BODY END-->
    </div>
  </div>
  <!--6 COL END-->
  <!--6 COL START-->
  <div class="col-md-6">
    <div class="grid simple">
      <!--GRID TITLE START-->
      <div class="grid-title no-border">
        <h4>Visitors <span class="semi-bold">This Week</span></h4>
      </div>
      <!--GRID TITLE END-->
      <!--GRID BODY START-->
      <div class="grid-body no-border">
        <h4>Visitors <span class="semi-bold">By Day</span></h4>
        <p>
          This charts gives you an overview of the number of people viewing your page each day for the last seven days.
        </p>
        <!--<div id="line-example"> </div>-->

        <%= content_tag :div, "", id: "visits_chart", :data => { :views => @total_views_by_day} %>
      </div>
      <!--GRID BODY END-->
    </div>
  </div>
  <!--6 COL END-->
</div>
<!--END TOP LINE CHART-->



<!--MOST REFERRING SITES-->
<div class="row">
  <!--CHART 1-->
  <div class="col-md-4">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Key <span class="semi-bold">Referrer</span></h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body no-border">
        <h3>Referrer Breakdown</h3>
        <p>
          This section outlines the sites that are sending the most people to your page. The chart below shows a list of the three most major sources of traffic to your page.
        </p>
        <br>

        <!--<div id="most_valuable_referrer_1"> </div>-->
        <div id="referrer-breakdown" style="height:200px;"> </div>
      </div>
    </div>
  </div>
  <!--END CHART 1-->
  <!--BOOKMARK LIST START-->
  <div class="col-md-8">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Tickets <span class="semi-bold">Purchased</span></h4>
      </div>
      <div class="grid-body no-border">
        <h3>RSVPs for the next four weeks</h3>
        <p>
          This chart shows the number of people that have signed up for your experience over the next four weeks.
        </p>
        <br>
        <%= content_tag :div, "", id: "purchases_chart", :data => { :purchases => @purchases.to_json} %>
        <!--<div id="most_valuable_referrer_1"> </div>-->
      </div>
    </div>
  </div>
  <!--BOOKMARK LIST END-->
</div> <!-- END ROW -->
<!--END MOST REFERRING SITES-->

<!--BOOKMARK LIST START-->

<!--BOOKMARK LIST END-->


<!-- END PLACE PAGE CONTENT HERE -->




