<!--Todo: Chats to add -->
<!--1. Visitors chart -->
<!--2. Total revenue chart -->
<!--2. Total attendees chart -->

<%= content_for :js do %>
  <%= javascript_include_tag "dashboard/dashboard.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "dashboard/calendar.js", 'data-turbolinks-track' => true %>
<% end %>


<!-- BEGIN PlACE PAGE CONTENT HERE -->
<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Dashboard</h3>
</div>
<!-- END PAGE TITLE -->

<!--KEY VALUES-->
<div class="row">
  <!--BOX 1-->
  <div class="col-md-3">
    <div class="tiles blue added-margin">
      <div class="tiles-body">
        <div class="tiles-title"> TOTAL VISITS </div>
        <div class="heading"> <span class="animate-number" data-value="<%= @total_views %>" data-animation-duration="1200"><%= @total_views %></span> </div>
      </div>
    </div>
  </div>
  <!--END BOX 1-->
  <!--BOX 2-->
  <div class="col-md-3">
    <div class="tiles green added-margin">
      <div class="tiles-body">
        <div class="tiles-title"> TODAY’S VISITS </div>
        <div class="heading"> <span class="animate-number" data-value="<%= @total_views_today %>" data-animation-duration="1000"><%= @total_views_today %></span> </div>
      </div>
    </div>
  </div>
  <!--END BOX 2-->
  <!--BOX 3-->
  <div class="col-md-3">
    <div class="tiles red added-margin">
      <div class="tiles-body">
        <div class="tiles-title"> TODAY’S SALES </div>
        <div class="heading"> $ <span class="animate-number" data-value="<%= @total_sales_today %>" data-animation-duration="1200"><%= @total_sales_today %></span> </div>
      </div>
    </div>
  </div>
  <!--END BOX 3-->
  <!--BOX 4-->
  <div class="col-md-3">
    <div class="tiles purple added-margin ">
      <div class="tiles-body">
        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
        <div class="tiles-title"> TOTAL SALES </div>
        <div class="row-fluid">
          <div class="heading"> $ <span class="animate-number" data-value="<%= @total_sales %>" data-animation-duration="700"><%= @total_sales %></span> </div>
        </div>
      </div>
    </div>
  </div>
  <!--END BOX 4-->
</div>
<!--END KEY VALUES-->
<br>
<br>

<!--TOP LINE CHART-->
<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Visitors <span class="semi-bold">This Week</span></h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body no-border">
        <h4>Visitors <span class="semi-bold">By Day</span></h4>
        <p>
          This charts gives you an overview of the number of people viewing your page each day for the last seven days.
        </p>
        <!--<div id="line-example"> </div>-->

        <%= content_tag :div, "", id: "visits_chart", :data => { :views => @total_views_by_day} %>
      </div>
    </div>
  </div>
</div>
<!--END TOP LINE CHART-->



<!--MOST REFERRING SITES-->
<div class="row">
  <!--CHART 1-->
  <div class="col-md-4">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Key <span class="semi-bold">Referrer</span></h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body no-border">
        <h3>Referrer Breakdown</h3>
        <p>
          This section outlines the sites that are sending the most people to your page. The chart below shows a list of the three most major sources of traffic to your page.
        </p>
        <br>

        <!--<div id="most_valuable_referrer_1"> </div>-->
        <div id="referrer-breakdown" style="height:200px;"> </div>
      </div>
    </div>
  </div>
  <!--END CHART 1-->
  <!--BOOKMARK LIST START-->
  <div class="col-md-8">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Tickets <span class="semi-bold">Purchased</span></h4>
      </div>
      <div class="grid-body no-border">
        <h3>RSVPs for the next four weeks</h3>
        <p>
          This chart shows the number of people that have signed up for your experience over the next four weeks.
        </p>
        <br>
        <%= content_tag :div, "", id: "purchases_chart", :data => { :purchases => @purchases.to_json} %>
        <!--<div id="most_valuable_referrer_1"> </div>-->
      </div>
    </div>
  </div>
  <!--BOOKMARK LIST END-->
</div> <!-- END ROW -->
<!--END MOST REFERRING SITES-->

<!--BOOKMARK LIST START-->

<!--BOOKMARK LIST END-->


<!-- END PLACE PAGE CONTENT HERE -->




