<%= form_for(@host, :html => {:class => "", :role => "form", :style => "background: none;border: none; padding: 0"}) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <!-- GRID TITLE -->
        <div class="grid-title no-border">
          <h4>Describe yourself</h4>
        </div>
        <!-- END GRID TITLE -->
        <!--GRID BODY-->
        <div class="grid-body no-border">
          <h3>Your <span class="semi-bold">Experience</span></h3>
          <p>
            In this section give your experience a catchy title and describe it in detail. Paint a picture, tell people what they will get when they attend your experience and tell them why they should attend.
          </p>
          <br>
          <%= f.text_area :about, :class => "form-control", :placeholder => "Enter the your experience description", :rows => 5, :required => "required" %>
        </div>
        <!--END GRID BODY-->
      </div>
      <%= f.submit 'Add about', :class => "btn btn-primary btn-cons" %>
    </div>
    <div class="col-md-4">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Picture upload</h4>
        </div>
        <div class="grid-body no-border">
          <h3>Your <span class="semi-bold">Photo</span></h3>
          <p>
            Tell people where they should come for the experience.
          </p>
          <div class="row-fluid">
            <%= f.file_field :avatar, :class => "form-control"%>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
