<%= form_for(@host, :html => {:class => "", :role => "form", :style => "background: none;border: none; padding: 0"}) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <!-- GRID TITLE -->
        <div class="grid-title no-border">
          <h4>Describe the host</h4>
        </div>
        <!-- END GRID TITLE -->
        <!--GRID BODY-->
        <div class="grid-body no-border">

          <div class="form-group">
            <label class="form-label">Name of the person hosting the experience.</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_field :name, :class => "form-control", :autofocus => true, :required => "required" %>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">Catch your customers attention with a nice title ( under 5 words)</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <label class="form-label">About the person hosting the experience.</label>
              <!--<input type="text" class="form-control">-->
              <%= f.text_area :about, :class => "form-control", :placeholder => "Enter the your experience description", :rows => 5, :required => "required" %>
            </div>
          </div>

          <br>

        </div>
        <!--END GRID BODY-->
      </div>
      <%= f.submit 'Add about', :class => "btn btn-primary btn-cons" %>
    </div>
    <div class="col-md-4">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Your photo</h4>
        </div>
        <div class="grid-body no-border">

          <div class="row-fluid">
            <% if @host.avatar.blank? %>
              <%= f.file_field :avatar, :class => "form-control"%>
            <% else %>
              <%= image_tag @host.avatar, :class => "img-responsive" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
