<%= form_for(@host, :html => {:class => "", :role => "form", :style => "background: none;border: none; padding: 0"}) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <!-- GRID TITLE -->
        <!-- END GRID TITLE -->
        <!--GRID BODY-->
        <div class="grid-body no-border">

          <div class="form-group p-t-40">
            <label class="form-label">Name of the person hosting the experience.</label>
            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <!--<input type="text" class="form-control">-->
              <%= f.text_field :name, :class => "form-control", :autofocus => true, :required => "required" %>
            </div>
          </div>

          <div class="form-group">

            <!--<span class="help">e.g. "Mona Lisa Portrait"</span>-->
            <div class="controls">
              <label class="form-label">About the person hosting the experience.</label>
              <!--<input type="text" class="form-control">-->
              <%= f.text_area :about, :class => "form-control", :rows => 5, :required => "required" %>
            </div>
          </div>

          <br>

        </div>
        <!--END GRID BODY-->
      </div>
      <%= f.submit 'Add about', :class => "btn btn-primary btn-cons" %>
    </div>
    <div class="col-md-4">
      <div class="grid simple">

        <div class="grid-body no-border">

          <div class="row-fluid p-t-40">
            <label class="form-label">Your photo</label>
            <% if @host.avatar.blank? %>

              <%= f.file_field :avatar, :class => "form-control"%>
            <% else %>
              <button class="btn btn-danger btn-cons" id="delete-profile-picture" data-host-id="<%= @host.id %>">Delete Your Photo</button>
              <%= f.file_field :avatar, :class => "form-control avatar-uploader" %>
              <%= image_tag @host.avatar, :class => "img-responsive", :id => "profile-picture" %>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
