<%= content_for :css do %>

<% end %>
<%= content_for :js do %>

  <%= javascript_include_tag "dashboard/profile.js", 'data-turbolinks-track' => true %>
<% end %>

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>About You</h3>
  <p>
    Write a short introduction about yourself or your business. Let your customers get to know more about you.
  </p>
</div>
<!-- END PAGE TITLE -->

<div class="row">
  <div class="col-md-12">

    <% if flash[:alert] %>
      <div class="alert alert-error">
        <button data-dismiss="alert" class="close"></button>
        Danger: <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button data-dismiss="alert" class="close"></button>
        Success: <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>

<!-- BEGIN PlACE PAGE CONTENT HERE -->
<%= render 'form' %>
<!-- END PLACE PAGE CONTENT HERE -->