<div class="container">
  <div class="row login-container column-seperation">
    <div class="col-md-5 col-md-offset-1">
      <h2>Sign in to urbanzeak</h2>
      <p>
        Sign into your account to see your dashboard and the purchases your customers have made.<br>
        <%= link_to "Sign up for a free 30 day trial!", new_registration_path(resource_name) %> for urbanzeak.</p>
      <br>

    </div>
    <div class="col-md-5 "> <br>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-form" }) do |f| %>


        <% flash.each do |name, msg| %>
          <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
        <% end %>

        <%= devise_error_messages! %>


        <div class="row">
          <div class="form-group col-md-10">
            <%= f.label :email, :class => "form-label" %>
            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <%= f.email_field :email, :class => "form-control", :autofocus => true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <%= f.label :password, :class => "form-label" %>
            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <%= f.password_field :password, :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="row">
            <div class="control-group  col-md-10">
              <div class="checkbox checkbox check-success">
                <%# link_to "Forgot your password?", new_user_password_path %>&nbsp;&nbsp;
                <%= link_to "Forgot your password?",  new_password_path(resource_name) %>&nbsp;&nbsp;
                <!--<a href="#">Trouble login in?</a>&nbsp;&nbsp;-->
                <!--<input type="checkbox" id="checkbox1" value="1">-->
                <%= f.check_box :remember_me  %>
                <%= f.label :remember_me %>
                <!--<label for="checkbox1">Remember me </label>-->
              </div>
            </div>
          </div>
        <% end -%>


        <div class="row">
          <div class="col-md-10">
            <%= f.submit "Login", :class => "btn btn-primary btn-cons pull-right" %>

          </div>
        </div>
      <% end %>



    </div>
  </div>
</div>