<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Integrations
  </h1>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset" ng-app="chatApp">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="integrationsExplanation">
        <%= image_tag "integrationIcon.png" %>
        <h4><strong>Integrate with external service</strong></h4>
        <p>
          <strong>Todo:</strong> Explain what these integrations do and how it can help the hosts. Give some concrete examples
        </p>
      </div>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <ul id="integrationsList">
        <li>
          <div class="titleContainer">
            <div class="iconContainer">
              <% if @facebookIntegrationDone == true %>
                <%= image_tag "icons/facebook-live.png" %>
              <% else %>
                <%= image_tag "icons/facebook-grey.png" %>
              <% end %>


            </div>
            <div class="listing">
              <strong> <%= link_to "Facebook", dashboard_integrations_facebook_path %></strong>
            <span>
              Post to your fan page and you wall when you create an experience
            </span>
            </div>
          </div>

          <div class="settings content">
            <% if @facebookIntegrationDone == true %>
              <strong>Facebook integration active</strong>
              <input type="checkbox"/>
              <input type="text" id="messageToPostToFB" class="form-control" placeholder="Enter the message you want to post to Facebook"/>
              <input type="submit" class="button is-secondary" id="postMessageToFB"/>
            <% else %>
              <%= link_to "Connect", dashboard_integrations_facebook_path, :class => "button is-primary" %>
            <% end %>

          </div>
        </li>

        <li>
          <div class="titleContainer">
            <div class="iconContainer">
              <%= image_tag "icons/twitter-grey.png" %>
            </div>
            <div class="listing">
              <strong><a href="#">Twitter</a></strong>
            <span>
              Post to your fan page and you wall when you create an experience
            </span>
            </div>
          </div>

          <div class="settings">
            <a href="#" class="button is-primary">Log In</a>
          </div>
        </li>

        <li>
          <div class="titleContainer">
            <div class="iconContainer">
              <%= image_tag "icons/googleplus-grey.png" %>
            </div>
            <div class="listing">
              <strong><a href="#">Google Plus</a></strong>
            <span>
              Post to your fan page and you wall when you create an experience
            </span>
            </div>
          </div>

          <div class="settings">
            <a href="#" class="button is-primary">Log In</a>
          </div>
        </li>

      </ul>
    </div>
  </div>


</div>


