<% if @has_experiences == false %>
<% else %>
  <!--PAGE TITLE START-->
  <div class="page-title">
    <h3>Purchases</h3>
  </div>
  <!--PAGE TITLE START-->
<% end %>
<!--ROW START-->
<div class="row">
  <!--12 COL START-->
  <div class="col-md-12">

    <% if flash[:error] -%>
      <div class="alert alert-danger m-b-20"><%=h flash[:error] %></div>
    <% end -%>
    <% if flash[:notice] -%>
      <div class="alert alert-success m-b-20"><%=h flash[:notice] %></div>
    <% end -%>

    <!--PURCHASES GRID START-->
    <div class="grid simple ">

      <% if @has_experiences == false %>
        <%= render :partial => "no_experiences" %>
      <% else %>
        <% if @has_purchases == true %>
          <%= render :partial => "purchases" %>
        <% else %>
          <%= render :partial => "no_purchases" %>
        <% end %>
      <% end %>
    </div>
    <!--PURCHASES GRID END-->
  </div>
  <!--12 COL END-->
</div>
<!--ROW END-->