<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>urbanzeak - Find customers fast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <%= stylesheet_link_tag    "devise/application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "devise/animate.min", media: "all", "data-turbolinks-track" => true %>
  <!-- END CORE CSS FRAMEWORK -->
  <!-- BEGIN CSS TEMPLATE -->
  <%= stylesheet_link_tag    "devise/style", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "devise/custom-icon-set", media: "all", "data-turbolinks-track" => true %>
  <!-- END CSS TEMPLATE -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top">
  <%= yield %>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->

<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
</body>
</html>